# Base de datos (PostgreSQL corre en Docker, no instalar localmente)
POSTGRES_DB=plataforma_gestion
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme_en_produccion
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-larga-y-aleatoria-de-50-chars
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
