# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
mediafiles/

# Entorno — NUNCA subir al repo
.env
.env.local
.env.*.local

# Docker
postgres_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS / Windows
.DS_Store
Thumbs.db
